<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="Pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%c{1}] %msg%n</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${Pattern}"/>
        </Console>

        <RollingFile name="fileLogger" fileName="siteback.log" filePattern="siteback-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${Pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name= "ru.alwertus.siteback" level="ALL" additivity="true">
            <AppenderRef ref="fileLogger"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>

</Configuration>
<!--
OFF	0
FATAL	100
ERROR	200
WARN	300
INFO	400     ключевые моменты
DEBUG	500     вход в процедуры
TRACE	600     SQL запросы и значения переменных
ALL	Integer.MAX_VALUE


 <PatternLayout>
[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
%d{HH:mm:ss} %-5level [%-10c{1}]: %msg%n
%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
%d{HH:mm:ss} %-5level [%logger{36}]: %msg%n
%d{HH:mm:ss} %-5level [%-10c{1}]: %msg%n
-->